[submodule "tree-sitter-parsers/tree-sitter-java"]
	path = tree-sitter-parsers/tree-sitter-java
	url = git@github.com:tree-sitter/tree-sitter-java.git
[submodule "tree-sitter-parsers/tree-sitter-python"]
	path = tree-sitter-parsers/tree-sitter-python
	url = git@github.com:tree-sitter/tree-sitter-python.git
