---
layout: default
---
<h1>Application: {{ page.data_key }}</h1>

<h2>Application of fix:</h2>
{% assign fix = page.data_value.fix | find_in_collection: 'fixes' %}
{% if fix %}
  <a href="{{ fix.url | absolute_url }}">{{ fix.title }}</a>
{% else %}
  {{ page.data_value.fix }} (not found)
{% endif %}

<h2>Code example:</h2>
{% assign example = page.data_value.example | find_in_collection: 'examples' %}
{% if example %}
  <a href="{{ example.url | absolute_url }}">{{ example.title }}</a>
{% else %}
  {{ page.data_value.example }} (not found)
{% endif %}

<h2>Where:</h2>
{% highlight text %}
{{ page.data_value.where }}
{% endhighlight %}

<a href="{{ page.data_key | find_in_collection: 'json_examples' | page_url | absolute_url }}">
  Raw json
</a>
