---
layout: default
---
<h1>{{ page.data_key }}</h1>

<h2>Parameters:</h2>
<ul>
  {% for p in page.data_value.parameters %}
    <li>{{ p.first }}:
      {% assign type = p.last | find_in_collection: 'constructs' %}
      {% if type %}
        <a href="{{ type.url | absolute_url }}">{{ p.last }}</a>
      {% else %}
        {{ p.last }} (not found)
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h2>Then:</h2>
{% highlight text %}
{{ page.data_value.then }}
{% endhighlight %}

<h3>Fixes of this bug:</h3>
{% assign fixes = site.fixes
| where: 'data_value.bug', page.data_key %}
<ul>
{% for f in fixes %}
  <li><a href="{{ f.url | absolute_url }}">{{ f.title }}</a></li>
{% endfor %}
</ul>

<a href="{{ page.data_key | find_in_collection: 'json_bugs' | page_url | absolute_url }}">
  Raw json
</a>
