---
layout: default
---
<h1>Bug: {{ page.data_key }}</h1>

<h2>Parameters:</h2>
{% include features.html features_page_key='data_value.parameters' %}

<h2>Where:</h2>
{% highlight text %}
{{ page.data_value.where }}
{% endhighlight %}

<h3>Fixes of this bug:</h3>
{% assign fixes = site.fixes
| where: 'data_value.bug_id', page.data_key %}
<ul>
{% for f in fixes %}
  <li><a href="{{ f.url | absolute_url }}">{{ f.title }}</a></li>
{% endfor %}
</ul>

<a href="{{ page.data_key | find_in_collection: 'json_bugs' | page_url | absolute_url }}">
  Raw json
</a>
