---
layout: default
---
<h1>{{ page.data_key }}</h1>

<h2>Example of fix:</h2>
{% assign fix = site.fixes
| where: 'title', page.data_value.fix
| first %}
{% if fix %}
  <a href="{{ fix.url | absolute_url }}">{{ fix.title }}</a>
{% else %}
  {{ page.data_value.fix }} (not found)
{% endif %}

<h2>Link:</h2>
<a href="{{ page.data_value.link }}">{{ page.data_value.link }}</a>

<h2>Language:</h2>
{{ page.data_value.language }}

<h2>Where:</h2>
{% highlight text %}
{{ page.data_value.where }}
{% endhighlight %}

<h2>Buggy code:</h2>
{% highlight text %}
{{ page.data_value.buggy_code }}
{% endhighlight %}

<h2>Fixed code:</h2>
{% highlight text %}
{{ page.data_value.fixed_code }}
{% endhighlight %}

<a href="{{ page.data_key | find_in_collection: 'json_examples' | page_url | absolute_url }}">
  Raw json
</a>
