---
layout: default
---
<h1>{{ page.data_key }}</h1>

<h2>Fix for bug:</h2>
{% assign bug = site.pages
| where: 'type', 'bug'
| where: 'title', page.data_value.bug
| first %}
<a href="{{ bug.url | absolute_url }}">{{ bug.title }}</a>

<h2>Parameters:</h2>
<ul>
  {% for p in page.data_value.parameters %}
    <li>{{ p.first }}: {{ p.last }}</li>
  {% endfor %}
</ul>

<h2>Then:</h2>
{% highlight text %}
{{ page.data_value.then }}
{% endhighlight %}

<h3>Examples of this fix:</h3>
{% assign examples = site.pages
| where: 'type', 'example'
| where: 'data_value.fix', page.data_key
%}
<ul>
{% for e in examples %}
  <li><a href="{{ e.url | absolute_url }}">{{ e.title }}</a></li>
{% endfor %}
</ul>

{% assign json = site.pages
| where: 'type', 'fix_json'
| where: 'title', page.title
| first %}
<a href="{{ json.url | absolute_url }}">Raw json</a>
