---
layout: default
---
<h1>Fix: {{ page.data_key }}</h1>

<h2>Fix for bug:</h2>
{% assign bug = site.bugs
| where: 'title', page.data_value.bug
| first %}
<a href="{{ bug.url | absolute_url }}">{{ bug.title }}</a>

<h2>Parameters:</h2>
{% include features.html features_page_key='data_value.parameters' %}

<h2>Then:</h2>
{% highlight text %}
{{ page.data_value.then }}
{% endhighlight %}

<h3>Examples of this fix:</h3>
{% assign examples = site.examples
| where: 'data_value.fix', page.data_key
%}
<ul>
{% for e in examples %}
  <li><a href="{{ e.url | absolute_url }}">{{ e.title }}</a></li>
{% endfor %}
</ul>

<a href="{{ page.data_key | find_in_collection: 'json_fixes' | page_url | absolute_url }}">
  Raw json
</a>
